body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0b1a3b;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

main {
    padding: 20px;
}

h2 {
    margin-top: 0;
}

.container-btn {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.container-btn button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    cursor: pointer;
}

table {
    width: 100%;
    margin-top: 20px;
}

th {
    background-color: #504f4f;
    color: #fff;
}

th,
td {
    padding: 10px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f0f0f0;
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #dddddd;
    color: #000000;
    text-align: center;
    padding: 10px 0;
}
